#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.chart-container {
  width: 100%; /* 원하는 너비 설정 */
  height: 600px; /* 높이 설정 */
  margin: 0 auto; /* 중앙 정렬 */
  border: 1px solid #ccc; /* 테두리 스타일 */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 그림자 효과 */
}
